body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.oya {
    width: 200px;
    height: auto;
}
.top{
    background-color: black;
    color: skyblue;
}